collating constant strings:  <!--#echo "v" "a" "l" "u" "e" "0"-->
constant string with quotes: <!--#echo "\"value0\""-->
single variable:             <!--#echo $var1-->
two variables:               <!--#echo $var1 $var2-->
variables + constants:       <!--#echo "var1=" $var1 " var2=" $var2-->
